@model VT.Website.Models.CatalogVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CatalogVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TorrentNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TorrentNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastDownloadedFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastDownloadedFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creator.Username)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
